<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!--FontAweSome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/30d61341d0.js" crossorigin="anonymous"></script>
  <!--TailWind-->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> 

  <!--footer-->
  <style>
    .main__body {
      min-height: 90vh;
    }
  </style>


  <title>{% block title %}{% endblock title %} > Encode Programming</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="/">
      <img src="{% static 'img/white.png' %}" alt="Encode Programming">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeActive %}{% endblock homeActive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block blogActive %}{% endblock blogActive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% block aboutActive %}{% endblock aboutActive %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item {% block contactActive %}{% endblock contactActive %}">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="">
          <a class="nav-link" href="/404">404</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/admin" target="_blank">Admin</a>
        </li> -->
      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search..." aria-label="Search"
          name="query" />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>

      {% comment %} <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#signUp">
        Sign Up
      </button>
      <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#signIn">
        Sign In
      </button> {% endcomment %}
    </div>
  </nav>

  <!--Messages -->

  {% for messages in messages %}
  <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
    <strong>Message: </strong>{{ messages }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}


  <!-- Button trigger modal -->

  {% comment %}
  <!-- Sign Up Modal -->
  <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignUpModalLabel">Sign Up Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/signup' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="name" class="form-control" name="f_name" id="f_name" aria-describedby="emailHelp" required />
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input type="name" class="form-control" name="l_name" id="l_name" aria-describedby="emailHelp" required />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="username" class="form-control" name="username" id="username" aria-describedby="emailHelp"
                required />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required />
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" name="pass1" id="pass1" required />
            </div>
            <div class="form-group">
              <label for="pass2"> Confirm Password</label>
              <input type="password" class="form-control" name="pass2" id="pass2" required />
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <!-- Sign Up Modal -->
  <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignInModalLabel">Sign In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="loginuser">Username</label>
              <input type="loginuser" class="form-control" name="loginuser" id="loginuser" aria-describedby="emailHelp"
                required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" required />
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div> {% endcomment %}


  <div class="main__body">
    {% block body %}

    {% endblock body %}
  </div>

  <br>
</body>
<!-- Footer -->
<footer class="page-footer font-small text-light bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <a href="/">
          <img src="{% static 'img/white.png' %}" alt="Encode Programming">
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <form class="input-group" action='/sub' method='post'>
          {% csrf_token %}
          <input type="name" name="name" class="form-control form-control-sm mx-2" placeholder="Name" aria-label="Name"
            aria-describedby="basic-addon2  ">
          <input type="email" name="email" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2  ">
          <div class="input-group-append">
            <button class="btn btn-sm btn-primary my-0 mx-2" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class=" text-center py-3">© 2020 Copyright:
    <a style="color: #667eea;" href="#"> Encode Programming</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>